/* Importing Common CSS File */
@import url("../../common.css");

.preferred_date button,
.preferred_time button {
    margin: 0 !important;
}

/* .log_in_tab, .sign_up_tab{
    background-color: rgb(198, 198, 198) !important;
    border-radius: 50px !important;
    margin: 2px !important;
    transition: all ease-in-out 0.8s !important;

} */
.css-1vw5i9y-MuiButtonBase-root-MuiTab-root{
    background-color: rgb(198, 198, 198) !important;
    border-radius: 50px !important;
    margin: 2px !important;
    transition: all ease-in-out 0.8s !important;

}
.css-1vw5i9y-MuiButtonBase-root-MuiTab-root.Mui-selected{
    background-color: var(--primary) !important;
    border-radius: 50px;
    transition: all ease-in-out 0.8s ;
    color: #fff !important;
}
.css-11yukd5-MuiTabs-indicator{
    background-color: #fff !important;
}