
.who_we_are{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.who_we_are_main_content_text{
 width: 48%;
}



.who_we_are_main_content_text h1,
.benifit_heading h1,
.review-sec .review-heading h1{
    font-size: 3.5rem;
    font-weight: 900;
    margin: 0.9rem 0;
    /* text-align: center; */
}

.who_we_are_main_content_text h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.9rem 0;
}

.who_we_are_main_content_text .who_sub_heading{
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary);
}

.who_we_are_main_content_text .who_sub_desc{
    width: 70%;
    font-size: 0.9rem;
    line-height: 25px;
    color: var(--secondary);
    margin: 0.9rem 0;
}

.who_we_are_main_content_text .offer_list_sec{
    margin: 2rem 0;
}

.who_we_are_main_content_text .offer_list_sec h4{
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary);
    margin: 0.9rem 0;
}

.who_we_are_main_content_text .offer_list{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 2rem 0;
}
.who_we_are_main_content_text .offer_list_sec .offer_list ul{
    display: flex;
   flex-direction: column;
}
.who_we_are_main_content_text .offer_list_sec .offer_list ul li{
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--secondary);
    margin: 0.3rem 0;
    display: flex;
}
.who_we_are_main_content_text .offer_list_sec .offer_list ul li .checked_icon{
    margin-right: 10px;
}


.hero_btn{
    text-decoration: none;
    color: var(--primary);
    border: 2px solid var(--primary);
    background: none;
    padding: 1rem 3rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-weight: 700;
    margin: 0.9rem 0;
    transition: all 0.5s ease-in-out;
}

.hero_btn:hover{
    background-color: var(--primary);
    color: var(--white);
}
.who_we_are_main_content_img{
    width: 30rem;
}
.who_we_are_main_content_img img{
    object-fit: cover;
    border-radius: 50px 100px 50px 100px;
}

.sample {
    /* margin: 1rem 0; */
    display: flex;
    justify-content: center;
    align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.sample img{
border-radius: 50px;
/* width: 60% !important; */
}



.property_slider .slick-slide {
    margin: 0 20px;

  }
.property_slider .slick-track {
    margin: 0 20px;
    /* width: 1000px !important; */
  }

  /* .slick-container {
    height: 60%;
  }
  .slick-slider, .slick-list, .slick-track {
    height: 100%;
  } */
/* .property_slider.slick-slide img{
    height: 10%;
    border-radius: 100px 50px 50px 50px;
  } */


  /* .property_slider .imgslider .sample .slick-list .slick-track */
  /* .property_slider .imgslider .sample .slick-list .slick-track{
    width: 4000px !important;
   opacity: 1; transform: translate3d(-945px, 0px, 0px) !important;
  }  */
  /* .property_slider .imgslider .sample .slick-list .slick-track .slick-slide .slick-cloned{
    width: 1000px !important;
   opacity: 1; transform: translate3d(-945px, 0px, 0px);
  } */

  
/* .benifits_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.benifits_sec_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.benifit_cards{
    margin: 3rem 0;
}

.benifit_cards .css-1ri6ub7-MuiPaper-root-MuiCard-root{
    border-radius: 50px !important;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center !important;
}

.review-sec {
    padding: 4rem 0;
}

.review-sec .review-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.review-sec .review-cards{
    margin: 5rem 0;
}

.amenities_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.amenities_sec .amenities{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondary) !important;
    padding: 3rem 0;
    margin: 6rem auto;;
    border-radius: 50px;
    
}

.amenities .amenities_img{
    width: 45%;
}

.amenities .amenities_img img{
    border-radius: 30px 100px 30px 30px;
}

.amenities .amenities_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.amenities .amenities_content h1{
    font-size: 1.8rem;
    font-weight: 700;
    margin: 30px 0;
    color: #fff;
}

.amenities_icons_one,
.amenities_icons_two {
    display: flex;
    width: 100%;
}

.amenities_icons_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.amenities_icons_sec .amenities_icons_item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem !important;
    margin: 10px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    padding: 15px !important;
    color: #fff !important;
}

.counter_sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.counter_sec .counter_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
}

.counter_sec .counter_item h2{
    font-size: 1.4rem;
    font-weight: 700;
}

.slick-next{
    right: 0px !important;
} 


@media (max-width: 768px) {

    .who_we_are{
        flex-direction: column;
        justify-content: flex-start;
    }
    .who_we_are_main_content_text{
        width: 100%;
       }
    .who_we_are_main_content_img{
        width: 90%;
        margin: 5rem 0;
    }
    .who_we_are_main_content_text .offer_list{
        
        width: 100%;
     
    }

    /* .benifits_sec_content .benifit_cards{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .counter_sec{
        flex-direction: column;
    }
    .counter_sec .counter_item{
        margin: 25px 0;
    }

    .amenities .amenities_img{
        width: 75%;
    }
}

@media (max-width: 1150px) {
    .amenities_sec .amenities{
        flex-direction: column;
    }
}