/* Importing Common CSS File */
@import url("../../common.css");

.text {
    width: 100%;
    display: inline;
}

.read-or-hide {
    color: #1976d2;
    cursor: pointer;
}

@media (max-width: 834px) {
    .text {
        font-size: 0.8rem !important;
    }
}