/* Importing Common CSS File */
@import url("../../common.css");

.explore_residences {
    margin-top: 150px;
}

.explore_residences h2,
.explore_residences h2 .customize_heading {
    margin-bottom: 20px;
    display: flex;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.explore_residences h2 .customize_heading {
    color: #1976d2;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.00833em;
}

.explore_residences .house_listing {
    margin-top: 25px;
}