.footer {
    /* height: 70vh; */
    /* margin-top: 10px; */
    /* min-height: 100%; */
    background-color: rgb(238, 238, 244);
    /* color: var(--secandory) */
    /* white-space: nowrap; */
}

.footer .brandname {
    width: inherit;
    font-size: 12px;
    font-weight: 900;
    padding: 20px 0;
}

.footer h3{
    font-size: 1.2rem ;
    font-weight: 700;
    margin: 10px 0;

}
.footer a{
    font-size: 0.9rem ;
    font-weight: 500;
    margin: 10px 0;
    color: var(--secandory);
}

.btn {
    padding: 12px 30px !important;
    border-radius: 25px !important;
    font-weight: 600;
}

.footer-top {
    margin-bottom: 20px;
}