.footer {
    /* height: 70vh; */
    /* margin-top: 10px; */
    /* min-height: 100%; */
    background-color: rgb(238, 238, 244);
    /* color: var(--secandory) */
    /* white-space: nowrap; */
}

.footer .brandname {
    width: inherit;
    font-size: 12px;
    font-weight: 900;
    padding: 20px 0;
}

.footer h3{
    font-size: 1.2rem ;
    font-weight: 700;
    margin: 10px 0;

}
.footer a,
.footer p{
    font-size: 0.9rem ;
    font-weight: 500;
    margin: 10px 0;
    color: var(--secandory);
}

.btn {
    padding: 12px 30px !important;
    border-radius: 25px !important;
    font-weight: 600;
}

.footer-top {
    margin-bottom: 20px;
}

.hero_btn{
    color: var(--primary);
    border: 2px solid var(--primary);
    background: none;
    padding: 1rem 3rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-weight: 700;
    margin: 0.9rem 0;
    transition: all 0.5s ease-in-out;
}

.hero_btn:hover{
    background-color: var(--primary);
    color: var(--white);
}

.request_callback__container > * {
    text-transform: capitalize;
}