/* Importing Common CSS File */
@import url("../../common.css");

.login_btn{
    border-radius: 50px !important;
    margin: 20px 5px !important;
}

.new_account{
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    margin-left: 5px !important;
}