/* Importing Common CSS File */
@import url("../../common.css");

.house_listing {
    width: 100%;
    padding-bottom: 20px;
}

.house_listing .house_card {
    border-radius: 30px;
}

.house_listing .house_card img {
    max-height: 300px;
    height: 100%;
}

.house_listing .house_card:hover {
    -webkit-box-shadow: 9px 12px 25px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 12px 25px -7px rgba(0,0,0,0.75);
    box-shadow: 9px 12px 25px -7px rgba(0,0,0,0.75);
}

.house_listing .house_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.house_listing .house_heading h5 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

.house_listing .house_heading h6,
.house_listing .house_price h6 {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.house_listing .house_occupancy p,
.house_listing .house_amenity p {
    font-size: 0.95rem;
    text-transform: capitalize;
}

.house_listing .house_amenity p {
    display: flex;
    align-items: center;
}

.house_listing .house_amenity p svg {
    margin-right: 5px;
}

.house_listing .house_amenity p:not(:first-child) {
    margin-top: 5px;
}

.house_listing .house_occupancy {
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.house_listing .house_occupancy img {
    width: 16px;
    height: 16px;
    margin-right: 12px;
}

.house_listing .house_amenity {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(230, 233, 234);
    margin-top: 10px;
}

.house_listing .house_price button {
    padding: 10px 14px;
    border-radius: 30px;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: capitalize;
}

.house_listing .house_price {
    padding: 0 16px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.house_listing .house_price h5 {
    font-weight: 700;
    text-transform: none;
}

.house_listing .house_price h6 {
    font-size: 0.95rem;
    text-transform: capitalize;
}

.handle_flex_basis {
    flex-basis: 50%;
}

.house_listing .hero_btn {
    padding: 1rem 1rem !important;
}

@media (max-width: 1024px) {
    .house_listing .hero_btn {
        padding: 1rem 0.5rem !important;
    }
    .house_listing .house_card img {
        max-height: 225px;
        height: 100%;
    }    
}

@media (max-width: 400px) {
    .house_listing .house_price h5 {
        font-size: 1.25rem;
    }
    .house_listing .house_price button {
        padding: 10px;
        font-size: 0.8rem;
    }
    .handle_flex_basis {
        flex-basis: 54%;
    }
}