/* color primary rgb(54, 121, 253) */
/* color secodary rgb(0, 31, 104) */
/* color white rgb(255, 255, 255) */
/* color background color rgb(247, 247, 252) */
/* color footer color rgb(238, 238, 244) */
:root { 
  --primary: rgb(54, 121, 253);
  --secondry: rgb(0, 31, 104);
  --white: #faf0e6;
  --bg-color:rgb(247, 247, 252) 
      }
      
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondry);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
