.about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 300px;
}

.about_us_text h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 0.9rem 0;
}

.about_us_text p {
    width: 80%;
    font-size: 1.5rem;
    line-height: 45px;
    color: var(--secondary);
    margin: 0.9rem 2rem 0 0;
}



.about_us_img img {
    width: 600px;
    border-radius: 50px 100px 50px 100px;
    -webkit-box-shadow: 34px -17px 5px 0px rgba(156, 150, 156, 0.49);
    -moz-box-shadow: 34px -17px 5px 0px rgba(156, 150, 156, 0.49);
    box-shadow: 34px -17px 5px 0px rgba(156, 150, 156, 0.49);

}

@media (max-width: 1650px) {
    .about_us_text h1 {
        font-size: 3rem;
        font-weight: 900;
        margin: 0.9rem 0;
    }

    .about_us_text p {
        width: 80%;
        font-size: 1rem;
        letter-spacing: 0.7px;
        line-height: 45px;
        color: var(--secondary);
        margin: 0.9rem 2rem 0 0;
    }


}

@media (max-width: 950px) {
    .about_us {
        flex-direction: column;
    }

    .about_us_img img {
        width: 500px;
        margin: 50px;

    }
}

@media (max-width: 768px) {
    .about_us_text p {
        width: 100%;
        line-height: 30px;
    }
}

@media (max-width: 550px) {
    .about_us {
        padding-top: 100px;
        padding-bottom: 650px;
    }

    .about_us_img img {
        width: 300px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 20px;
        padding: 50px 0;
    }

    .about_us_text h1 {
        font-size: 2rem;
        font-weight: 900;
        /* margin: 0.9rem 0; */
    }
}