.residence_type {
    background-color: transparent !important;
}

.hero_btn{
    color: var(--primary);
    border: 2px solid var(--primary);
    background: none;
    padding: 1rem 3rem;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    font-weight: 700;
    margin: 0.9rem 0;
    transition: all 0.5s ease-in-out;
}

.hero_btn:hover{
    background-color: var(--primary);
    color: var(--white);
}